# JetBrains / PyCharm settings
.idea/

# Python junk
__pycache__/
*.py[cod]
*$py.class
venv_WASGO/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# MLOps / Tracking
mlruns/
.dvc/config.local
mlflow.db
.mlflow/

# Large binary artifacts/models
artifacts/*.pkl
artifacts/*.npy
models/
*.tar

# Operating System
Thumbs.db
.DS_Store

# Data (DVC will usually handle this, but as a backup)
data/raw/*
!data/raw/*.dvc
!data/raw/.gitignore
